<table class="table table-hover animate__animated animate__fadeInLeft" >
    <thead>
        <tr>
            <th>#</th>
            <th>Flag</th>
            <th>Name</th>
            <th>Population</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of countries;let i =index;">
            <td>{{i+1}}</td>
            <td>{{c.flag}}</td>
            <td>{{c.capital}}, {{c.name.common}}</td>
            <td>{{c.population | number}} </td>
<td>
<a [routerLink]="['/country',c.cca2]">Ver mas</a>
</td>
        </tr>
    </tbody>
</table>