<h2>By Region</h2>
<hr>
<h3><small>Active Region {{activeRegion}}</small>
</h3>
<h5>Select region</h5>
<div class="row">
    <div class="col">
      <button 
      *ngFor="let region of regions"
      
      [class]="(region===activeRegion)?'btn btn-primary':'btn btn-outline-primary'"
      (click)="activateRegion(region)"
      >{{region}}</button>  
    </div>
</div>
<div *ngIf="!isError && countries.length>0" class="row">
  <div class="col">
   <app-table-country [countries]="countries"></app-table-country>
  </div>
</div>